{% extends "pastey/base.html" %}

{% block title %}PyPastebin - {{paste.title}}{% endblock %}
{% block style %}
    {{css_style}}
{% endblock %}
{% block script %}
    <script type="text/javascript" language="Javascript" src="{{STATIC_URL}}js/load.js"></script>
{% endblock %}
{% block masthead %}
    {% include "pastey/masthead.html" %}  
{% endblock %}

{% block content %}
    <div id="body_wrapper">    
        {% if last_paste == paste.id %}   
            <div class="center_text">            
                <form name="delete" action="#" method="post">{% csrf_token %}	            
                    <span class="site_link">
                        <p>This is your most recent paste. Click <input type="submit" name="delete" value="Delete" /> to delete this paste</p>
                    </span>
                </form>        
            </div>       
        {% endif %}        
        
       
        
        <!--Title-->
        <div id="title_and_styler">
            <div id="paste_title"><h2>{{paste.title|title}}</h2></div>                   
        </div>   
        
        <!--Info-->    
        {% include "pastey/pasteinfo.html" %}

        <!--Code paste tabs-->
        <div id="detail_options">
            <!--Style chooser drop down menu and submit button-->
            <div id="styler">
                <form name = "styler" action="#" method="get">
                        <table>
	                        <tr>
	                            <td>{{style_chooser.label}}</td>
	                            <td>{{style_chooser.as_p}}</td>
	                            <noscript>
	                                <td>
	                                    <input type="submit" name="style_change" value="Change Style" />
                                    </td>
                                </noscript>
	                        </tr>
                        </table>	
                </form>
            </div>	
                   
            <!--Alternate detail tabs-->
            
            <span id="plain_tab"><a href="/pastey/plain/{{paste.id}}/">Plain</a></span>
            <span id="html_tab"><a href="/pastey/html/{{paste.id}}/{{current_style}}">HTML</a></span>            
            <span id="pdf_tab"><a href="/pastey/pdf/{{paste.id}}/{{current_style}}">PDF</a></span>            
            <span id="copy_tab"><a href="/pastey/edit/{{paste.id}}">Copy</a></span>
            <span id="download_tab"><a href="{{paste.txt_file.url}}">Download</a></span>
        </div>
        <div id="detail_loading">
            <p> PDF Loading...</p>
        </div>
        <!--Formatted text-->
        <div id="detail_code">            
            {{code|safe}}
        </div>    
        <div class="center_text">         
            <span class="site_link"><a href="#top"> Back to top </a></span>    
        </div>
    </div>
{% endblock %}

