<head>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/main.css" />
</head>
<body>

    <div id="masthead">
        <div id="pastey_logo"> 
            <h1>PyPasteys</h1>
        </div>
        {% if last_paste != '/pastey' %}
            <div id="most_recent">
                <span class="site_link"><br /><a href="/pastey/detail/{{last_paste}}">Your most recent paste</a> <span>
            </div>
        {% endif %}
    </div>

    <!--Provide the form to create a paste-->
    <div id="body_wrapper">       
        <form action="#" method="POST">{% csrf_token %}	
            <table>
	            {{form.as_table}}			
            </table>
            <div class="button_class"><input type="submit" name="paste" value="Paste" /></div>
        </form>
                
        {% if pastes|length > 0 %} 
            <div class="center_text">
                <span class="site_link">                    
                    <a href="/pastey/list/1/"> View recent code pastes </a>
                    <br />
                </span>
            </div>
        {% endif %}
        
    </div>
</body>        

