{% extends "pastey/base.html" %}

{% block title %}PyPasteys - A Python Pastebin{% endblock %}

{% block masthead %}
    {% include "pastey/masthead.html" with index_page=1 %}  
{% endblock %}

{% block content %}
    <!--Provide the form to create a paste-->
    <div id="body_wrapper">       
        <form action="#" method="POST">{% csrf_token %}	
            <table>
	            {{form.as_table}}			
            </table>
            <div class="button_class"><input type="submit" name="paste" value="Paste" /></div>
        </form>
                
        {% if pastes|length > 0 %} 
            <div class="center_text">
                <span class="site_link">                    
                    <a href="/pastey/list/1/"> View recent code pastes </a>
                    <br />
                </span>
            </div>
        {% endif %}        
    </div>
{% endblock %}
