{% extends "pastey/base.html" %}

{% block title %}PyPastebin - All Pastes{% endblock %}
{% block style %}
    {{css_style}}
{% endblock %}

{% block masthead %}
    {% include "pastey/masthead.html" %}  
{% endblock %}

{% block content %}    
    <div id= "body_wrapper">
        <!--Show search box and search fields pull down-->
        <div id="search" >
            <form name = "search" action ="#" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <th>
                            {{form.keyword.label}}
                        </th>
                        <td>{{form.keyword}}</td>
                        <td>{{form.field}}</td>
                        <td><input type="submit" name="search" value="Ok" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan = "2">showing {{results}} 
                        {% if results == 1 %}
                            result
                        {% else %}
                            results
                        {% endif %}
                        </td>
                    </tr>
                </table>                
            </form>
        </div>
        <!--Show recent code pastes (that are not flagged as private)-->
        <div id="paste_list">
        {% if pastes|length > 0 %}            
            <div id="pager" class="site_link">
                <p>
                {% if page.has_other_pages and page.has_previous %}
                    <a href="/pastey/list/1"><<</a>
                {% else %}
                    <<        
                {% endif %}
                
                {% if page.has_previous %}
                    <a href="/pastey/list/{{page.previous_page_number}}"><</a>
                {% else %}
                    <
                {% endif %}                
                {{page_display}}                
                {% if page.has_next %}
                    <a href="/pastey/list/{{page.next_page_number}}">></a>
                {% else %}
                    >
                {% endif %}
                
                {% if page.has_other_pages and page.has_next %}
                    <a href="/pastey/list/{{last_page}}">>></a>
                {% else %}
                    >>
                {% endif %}
                </p>
            </div>             
		            
            {% for item_index, css_style, paste in pastes %}    
                <div class="list_header">
                    <!--Number of the entry and Title-->		            
		            <a href="{{paste.get_absolute_url}}">
		                {{item_index}}. {{paste.title|title}}
                        
                        <!--Author-->
		                by 
		                {% if paste.author != 'an unknown author' %}
		                    {{paste.author|title}}
	                    {% else %}
	                        {{paste.author}}
                        {% endif %}
		
		                <!--Language-->
		                written in 
		                {% if paste.language %}
		                    {{paste.get_language_display|title}}
	                    {% else %}
	                        an unspecified programming language
                        {% endif %}
		
                        <!--Date/Time-->
                        on {{paste.pub_date}}
		            </a>
		        </div>
		        
                <!--Code snippet-->
                <style>{{css_style}}</style>
                {{paste.code_paste|safe}}
                
                <!--Add some space between this paste and the next-->
				<br />
            {% endfor %}            
            
        {% else %}

            <!--Message if no pastes are available-->
            <p>No code pastes are available.</p>

        {% endif %}
        </div>
        <div class="center_text">
            <span class="site_link"><a href="#top"> Back to top </a></span>    
        </div>
    </div>
{% endblock %}

