<div id="masthead">
    <a name ="top"></a>
    <div id="pastey_logo">
        {% if index_page == 1 %}
            <p>PyPastebin</p>
        {% else %}
            <span class="site_link"><a href="/pastey/">PyPastebin</a></span>
        {% endif %}        
    </div>        
    {% if last_paste != None and last_paste != paste.id %}
        <div id="most_recent">
            <span class="site_link"><a href="/pastey/detail/{{last_paste}}">Your most recent paste</a><span>
        </div>
    {% else %}
        {% if index_page != 1 %}                
            <div id="most_recent">
                <span class="site_link"><a href="/pastey">Make a new paste</a></span>
            </div>
        {% endif %}
    {% endif %} 
</div>    
